<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan_predictor_bot</title>
</head>
<body>
    <iframe
    allow="microphone;"
    width="350"
    height="430"
    src="https://console.dialogflow.com/api-client/demo/embedded/637ac2f6-4d58-42cc-8dec-cc3b5255fba8">
    </iframe>
    <a href="https://t.me/Loan_predictor_bot" target="_blank">Click here to chat using telegram</a>
</body>
</html>